<div class="container">
    <a class="btn btn-primary pull-right" routerLink = '/users' >
      Back
      </a>
</div>
<div class="container">
      <h2>User Details:</h2>
</div>

    <div class="table-responsive col-sm-12">
        <table class="table text-center">
          <thead>
            <tr 
            *ngFor='let userdetail of userdetails' >
            <th [ngStyle] = "{backgroundColor: userdetail.completed?
                'green' : 'red'}">
              Title: {{userdetail.title}}<br>
                  Completed:{{userdetail.completed}}
              </th>
            </tr>
          </thead>
        </table>
      
      </div>