<div class="container">
    <a class="btn btn-primary pull-right" routerLink = '' >
      Back
      </a>
</div>

<div class="container">
    <h2>Users:</h2>
  </div>
<div class="userTable table-responsive">
  <table class="table text-center">
    <thead>
      <tr *ngFor='let post of posts'>
        <th>
          <p class="title font-weight-bold">
            {{post.title}}
          </p>
          <p class="body font-weight-normal">
              {{post.body}}
            </p>  
          <a class="btn btn-info pull-right" [routerLink] = "['/posts', post.id]" >
          Edit</a>
        </th>
      </tr>
    </thead>
  </table>

</div>

