<div class="container">
    <button class="btn btn-primary pull-right"
      (click)="userService.goBack()">Back
    </button>
    <button class="btn btn-info pull-right mr-2" routerLink = "/form-add" >
      Add
    </button>
</div>

<div class="container">
    <h2>Posts:</h2>
  </div>
<div class="userTable table-responsive">
  <table class="table text-center">
    <thead>
      <tr *ngFor='let post of posts | async'>
        <th>
          <p class="title font-weight-bold">
            {{post.title}}
          </p>
          <p class="body font-weight-normal">
              {{post.body}}
          </p>
          <button class="btn btn-info pull-right" [routerLink] = "['/posts', post.id]" >
          Edit</button>
        </th>
      </tr>
    </thead>
  </table>

</div>

